<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Spring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <div class="collapse navbar-collapse" id="">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <nav class="breadcrumb">
                            <a class="breadcrumb-item" href="#">Admin</a>
                            <a class="breadcrumb-item" href="#">Category</a>
                            <span class="breadcrumb-item active">Add</span>
                        </nav>
                    </div>
                    <div class="card-body">
                       
                        <form action="">
                            <div class="form-group">
                                <label for="">Tên</label>
                                <input type="text" class="form-control" name="" id="" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="">Tên</label>
                                <input type="text" class="form-control" name="" id="" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="">Tên</label>
                                <input type="text" class="form-control" name="" id="" placeholder="" />
                            </div>
                            <button type="submit" class="btn btn-secondary">Add</button>
                        </form>

                    </div>


                </div>
            </div>
        </div>

    </div>


    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/popper.min.js"></script>
</body>

</html>