<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{../templates/admin/template}"
    layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" th:href="@{/admincp}">Admin</a>
                <a class="breadcrumb-item" th:href="@{/admin/category/index}">Category</a>
                <span class="breadcrumb-item active">Add</span>
            </nav>
        </div>
        <div class="card-body">

            <form action="" method="post" th:object="${category}">
                <div class="form-group">
                    <label for="">Tên</label>
                    <input type="text" value="" th:field="*{name}" class="form-control" id="" placeholder="" />
                    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="form-group">
                    <label for="">Parent Id</label>
                    <select class="custom-select" th:field="*{parentId}">
                        <th:block th:remove="tag" th:utext="${renderSelectMenuService.printAllSelect()}"></th:block>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('parentId')}" th:errors="*{parentId}"></div>
                </div>
                <div class="form-group">
                    <label for="">Sort</label>
                    <input type="number" value="" class="form-control" th:field="*{sort}" id="" placeholder="" />
                    <div class="error" th:if="${#fields.hasErrors('sort')}" th:errors="*{sort}"></div>
                </div>
                <button type="submit" class="btn btn-sm btn-secondary">Add</button>
            </form>
        </div>
    </div>
</th:block>