<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/adminUrl/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/adminUrl/css/style.css}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <style>
      .category-diagram ul {
          list-style-type: decimal;
      }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <div class="collapse navbar-collapse" id="">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li th:class="nav-item" th:classappend="${categoryLinkActive} ? 'active'">
                                <a class="nav-link" th:href="@{/admin/category/index}">Category</a>
                            </li>
                            <li th:class="nav-item" th:classappend="${userLinkActive} ? 'active'">
                                <a class="nav-link" th:href="@{/admin/user/index}">User</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <nav class="breadcrumb">
                            <a class="breadcrumb-item" th:href="@{/admincp}">Admin</a>
                            <a class="breadcrumb-item" th:href="@{/admin/category/index}">Category</a>
                            <span class="breadcrumb-item active">Add</span>
                        </nav>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-sm btn-secondary mb-2" th:href="@{/admin/category/index}">
                            <i class="fas fa-list"></i>
                        </a>
                        <div class="category-diagram">
                          <th:block th:remove="tag" th:utext="${renderSelectMenuService.printAllMenu()}"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/adminUrl/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/adminUrl/js/bootstrap.js}"></script>
    <script th:src="@{/adminUrl/js/popper.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        	  $('select').change(function() {
        		    var value = $(this).val();
        		    var color = $("option[value='" + value + "']").css("color");
        		    $(this).css("color", color);
        	  });	
        }); 
    </script>
</body>
</html>