<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{../templates/admin/template}"
    layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" th:href="@{/admincp}">Admin</a>
                <a class="breadcrumb-item" th:href="@{/admin/category/index}">Category</a>
                <span class="breadcrumb-item active">Add</span>
            </nav>
        </div>
        <div class="card-body">
            <a class="btn btn-sm btn-secondary mb-2" th:href="@{/admin/category/index}">
                <i class="fas fa-list"></i>
            </a>
            <div class="category-diagram">
                <th:block th:remove="tag" th:utext="${renderSelectMenuService.printAllMenu()}"></th:block>
            </div>
        </div>
    </div>
</th:block>